
:root {
    --navbar-bg-color: #283D3B;
    --navbar-text-color: #EDDDD4;
    --navbar-hover-color: #197278;
}

.navbar {
    background-color: var(--navbar-bg-color) !important;
}

#brand-logo{
    margin-left: 10px;
    margin-right: 15px;
}
#brand-text{
    color: var(--navbar-text-color);

}
#navbarNav{
    justify-content: flex-end;
}


.nav-link {
    color: var(--navbar-text-color) !important;
}

.nav-link:hover {
    color: var(--navbar-hover-color) !important;
}
