:root {
    --footer-bg-color: #283D3B;
    --footer-text-color: #EDDDD4;
}

.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
